.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.directory
#
# lock files
*.lock

# Tool specific files #
#######################
# PHPUnit
.phpunit.result.cache
clover.xml
# vim
*~
*.swp
*.swo
# sublime text & textmate
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
# Eclipse
.settings/*
# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*
# NetBeans
nbproject/*
# Visual Studio Code
.vscode
# Sass preprocessor
.sass-cache/
# Docker
data/
.env
#Lando Local Override
.lando.local.yml
#Vendor Files
node_modules/
backend/vendor/**/*
/vendor/
/backend/storage/
docker-compose.override.y*ml
backend/_lighthouse_ide_helper.php
backend/programmatic-types.graphql
backend/schema-directives.graphql
helm/redis-commander.yaml
