// app global css in Sass form
@font-face
  font-family: "Atkinson"
  src: url(./fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf)

html
    font-family: "Atkinson"

.body--light
    .text--grey
        color: $dark-grey

    .accent
        background: $accent

    .active
        background: $active

    .alert
        background-color: #eee
        border-radius: 4px
        margin: 16px 0
        padding: 16px 16px 16px 16px
        font-size: 1em
        border-width: 0 5px
        border-style: solid
        border-color: $dark-grey
        letter-spacing: 0.5px
        .alert-title
            margin: -16px -16px 16px -16px
            padding: 4px 8px
            font-weight: bold
            border-bottom: 1px solid

    .alert-tip
        background-color: $active
        border-color: $active

        .alert-title
            font-weight: bold
            border-color: $secondary

    .alert-success
        background-color: #c1f4c5
        border-color: $positive

        .alert-title
            font-weight: bold
            border-color: $positive
    fieldset
        border: none

    .q-tab__label
        font-weight: 400

    .q-item.q-router-link--active,
    .q-item--active,
    .q-tab--active
        color: $dark
        font-weight: 500
        background-color: $active

    .q-tab--active .q-tab__label
        font-weight: 500

    @media (prefers-reduced-motion)
        *
            transition: none !important

    .q-list.notifications-list .q-item
        .q-badge
            position: absolute
            left: 0
            top: 50%
            background: $primary
            transform: translate(-50%, -50%)
            height: 100%
            padding: 4px
            border-radius: 3px
        span
            font-weight: bold
        &.unread
            background: $blu-highlight
    a[target="_blank"]::after
        font-family: 'Material Icons'
        content: "open_in_new"
        font-feature-settings: 'liga'
        padding-left: 1px

// declare classes for custom colors

.text-dark-grey
    color: $dark-grey
.bg-dark-grey
    background: $dark-grey

.text-blu-highlight
    color: $blu-highlight
.bg-blu-highlight
    background: $blu-highlight

.text-highlight
    color: $highlight
.bg-highlight
    background: $highlight

.text-xlight-grey
    color: $xlight-grey
.bg-xlight-grey
    background: $xlight-grey

.text-light-grey
    color: $light-grey
.bg-light-grey
    background: $light-grey

.text-dark-6
  color: $dark-6 !important
.bg-dark-6
  background: $dark-6 !important

// dark mode

body.body--dark
    background: $dark !important

.body--dark
    aside, .comments
        background: $dark !important
    .accent, .accent-dark, .bg-accent
        background: $accent-dark !important
    .comment, .request-resubmission
        background: $dark-1 !important
    .comment
        box-shadow: none !important
    .q-card.active
        border: 1px solid $highlight
    .q-card.active .comment-header, .q-card.active button[data-cy="commentActions"]
        color: $dark
    .aside-bar
        background: $dark-primary !important
    div[data-cy="styleCriteria"], .comment-header
        background: $dark-4 !important
    .review-header
        color: white
        background: $dark-grey !important
    button[data-cy="commentActions"]
        color: #fff
    span[data-cy="comment-highlight"]
        color: $dark


