// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables
//#1976D2
// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary           : #2F5496
$secondary         : #032C73
$active            : #77BEED
$med-blue          : #2ea3f2
$accent            : #520BBD

$positive          : #537B3D
$negative          : #AD347C
$highlight         : #F8DB8B
$blu-highlight     : #C9E5F8
$xlight-grey       : #F3F4F7
$light-grey        : #CCD3E0
$dark-grey         : #23394E
$warning           : #F2C037
$dark-warning      : #D39E0D

$dark              : #0A111F
$dark-primary      : #537FCA
$dark-secondary    : #02173B
$accent-dark       : #873EF4
$dark-accent-text  : #9F65F6
$accent-link       : #D8C0FB


$dark-1            : #0F192E
$dark-2            : #19294D
$dark-3            : #0E476C
$dark-4            : #37586D
$dark-5            : #3D3D3D
$dark-6            : #666666


$h1: (size: 2.125rem, line-height: 2.5rem,   letter-spacing: .00735em,  weight: 400) !default
$h2: (size: 1.5rem,   line-height: 2rem,     letter-spacing: normal,    weight: 400) !default
$h3: (size: 1.25rem,  line-height: 2rem,     letter-spacing: .0125em,   weight: 500) !default
$h4: (size: 1rem,     line-height: 2rem,     letter-spacing: normal,    weight: 500) !default
$h5: (size: 0.75rem,  line-height: 2rem,     letter-spacing: normal,    weight: 500) !default
$h6: (size: 0.5rem,   line-height: 2rem,     letter-spacing: normal,    weight: 500) !default

$typography-font-family : Atkinson, sans-serif
$typography-font-size   : 16px
