/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

figure
  display inline-block
  margin-inline 0.125em
  border 1px solid #ddd
  padding 0.5em
  img
    display block
    margin 0 auto
  figcaption
    text-align center

.sponsors
   text-align center
   display flex
   justify-content space-around
   padding-bottom 3rem
   > div
     .sponsor-img
       min-height 100px
       display flex
       align-items flex-end
       justify-content center
       margin-bottom 1em
     img, span
       display block

